body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  background: black;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid red;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to bottom, #111, #000);
}

.hero h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  color: #bbb;
  letter-spacing: 2px;
}
